package main

import (
	"bufio"
	"bytes"
	"fmt"

	"../../common"
	"../../utils"
)

const lastSize = 25

func main() {
	data, err := utils.GetInput(2020, 9)
	utils.CheckErr(err)

	scanner := bufio.NewScanner(bytes.NewBuffer(data))
	scanner.Split(bufio.ScanLines)

	for scanner.Scan() {
		line := scanner.Text()
    }
}
